* {
    box-sizing: border-box;
    cursor: crosshair;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select:   none; /* Safari */
    -khtml-user-select:    none; /* Konqueror HTML */
    -moz-user-select:      none; /* Firefox */
    -ms-user-select:       none; /* Internet Explorer/Edge */
    user-select:           none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

body, html {
    background: rgb(32, 32, 32);
    color: rgb(240,240,240);
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#title {
    font-size: 36pt;
    font-weight: 900;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

#btnWrapper {
    border: 3px solid rgb(240,240,240);
    border-radius: 10px;
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    margin: 20px auto 0px auto;
    padding: 0px 10px 0px 10px;
    text-align: center;
    width: 80%;
}

#searchHistory {
    font-size: 10pt;
    margin: auto 10px auto 10px;
    padding: 10px 0px 20px 0px;
    width: 100%;
}

.searchBtn {
    background: rgb(0, 0, 255);
    border: 2px solid rgba(240,240,240,0.75);
    border-radius: 10px;
    color: rgba(240,240,240, 0.75);
    height: 36px;
    margin: 0px 10px 20px 10px;
}

.searchBtn:hover {
    border: 2px solid rgba(255,255,255,1.0);
    color: rgba(255,255,255,1.0);
}

.selectBtn {
    color: rgba(255,255,255,1.0);
    padding: 10px;
}

.removeBtn {
    align-items: center;
    background: rgb(240,240,240);
    border: 2px solid rgb(240,240,240);
    border-radius: 50px;
    color: rgb(32, 32, 32);
    display: flex;
    font-weight: 900;
    justify-content: center;
    margin-left: auto;
    /* padding: 2px 4px 2px 4px; */
    position: relative;
    right: -12px;
    top: -45px;

    height: 25px;
    width: 25px;
}

#searchInputRegion {
    margin: 20px auto auto auto ;
    width: 310px;
}

#searchInputLabel {
    font-size: 16pt;
    position: relative;
    top: 3px;
}

#searchInput {
    background: rgb(240,240,240);
    width: 150px;
}

#searchInputBtn {
    background: rgb(240,240,240);
    left: 14px;
    position: relative;
}

#gifContainer {
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto 0 auto;
    width: 100%;

    justify-content: center;
}

.gifWrapper {
    border: 3px solid rgb(240,240,240);
    border-radius: 10px;
    margin: 20px;
    width: min-content;
}

.gifBox {
    align-items: center;
    border-radius: 10px;
    display: flex;
    height: 200px;
    justify-content: center;
    width: 300px;
}

.gif {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.sideBar {
    align-items: center;
    border-top: 3px solid rgb(240,240,240);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: rgb(32, 32, 32);
    display: flex;
    font-weight: 800;
    height: 40px;
    justify-content: center;
    width: 100%;
}

